# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# pytest
.pytest_cache/
.coverage

# Allure
allure-results/
allure-report/

# OS
.DS_Store
Thumbs.db